images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out
*cache
training-runs*
slurm_out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
local_utils

samples
fid-refs

diff-gaussian-rasterization
pretrained
logs
workspace